In [1]:
import pandas as pd
import numpy as np
import re
import spacy

In [2]:
data = pd.read_csv('clean_data.csv').iloc[:,1:]
data.head()

,review_title,review_body,company_source
0,I ordered an item and had a little,I ordered an item and had a little payment mis...,zalando
1,I ordered few items for 800 euro,I ordered few items for 800 euro came only che...,zalando
2,Always the first choice for apparel shopping,Always the first choice for apparel shopping i...,zalando
3,Support is bad return items and do not get mon...,Ordered items for 1200 got them all but in the...,zalando
4,Utterly useless in every respect,2 items ordered the first came the next day dh...,zalando

In [3]:
nlp = spacy.load("en_core_web_sm")

In [4]:
review_title = list(data['review_title'])
review_body = list(data['review_body'])
len(review_title)

653

In [5]:
def text_preprocessing(sentence):
    #do some cleaning
    sentence = nlp(sentence)
    clean_text = []
    for word in sentence:
        if not word.is_stop:
            if word.is_alpha:
                clean_text.append(word.lemma_)
    return clean_text

In [6]:
def get_lemma_sentences(review_list):
    lemma_words = []
    joined_sentence_list = []
    for words in review_list:
        new = text_preprocessing(words.lower())
        lemma_words.append(new)
    for n in lemma_words:
        new_word = ' '.join(n)
        joined_sentence_list.append(new_word)
    return joined_sentence_list

In [7]:
lemma_title = get_lemma_sentences(review_title)
lemma_body = get_lemma_sentences(review_body)

In [8]:
data['review_title'] = lemma_title
data['review_body'] = lemma_body

In [9]:
data['combined_title_body'] = data['review_title'] + ' ' + data['review_body']
data.head()

,review_title,review_body,company_source,combined_title_body
0,order item little,order item little payment misunderstanding zea...,zalando,order item little order item little payment mi...
1,order item euro,order item euro come cheap item euro order del...,zalando,order item euro order item euro come cheap ite...
2,choice apparel shopping,choice apparel shopping customer year sure mis...,zalando,choice apparel shopping choice apparel shoppin...
3,support bad return item money,order item get end lot item fit want return it...,zalando,support bad return item money order item get e...
4,utterly useless respect,item order come day dhl electrictronically inf...,zalando,utterly useless respect item order come day dh...

In [11]:
topic_modelling = pd.DataFrame(data['combined_title_body'])
topic_modelling = topic_modelling.replace('(Amazon|amazon|Outfittery|outfittery|zalando|Zalando)','',regex=True)

In [12]:
ner = pd.DataFrame(data['review_body'])

In [13]:
ner.to_csv('ner_data.csv')
topic_modelling.to_csv('topic_data.csv')