In [1]:
import pandas as pd
import numpy as np
import re
import contractions
from spellchecker import SpellChecker

In [2]:
data = pd.read_csv('trustpilot_reviews.csv').iloc[:,1:]
data.columns = ['review_title','review_body','company_source']
data = data.replace('(\\n)','',regex=True)
data.head()

,review_title,review_body,company_source
0,I ordered an item and had a little…,I ordered an item and had a li...,zalando
1,I ordered few items for 800 euro,I ordered few items for 800 eu...,zalando
2,Always the first choice for apparel shopping.,Always the first choice for ap...,zalando
3,"Support is bad, return items and don't get mon...",Ordered items for 1200€. Got t...,zalando
4,Utterley useless in every resepct,"2 items ordered, the first cam...",zalando

In [3]:
spell = SpellChecker(case_sensitive=True)

In [4]:
def correct_spelling(sentence):
    sentence = contractions.fix(sentence)
    sentence = ' '.join([spell.correction(word) for word in spell.split_words(sentence)])
    sentence = sentence.capitalize()
    return(sentence)

In [5]:
data['review_title'] = data['review_title'].apply(correct_spelling)
data['review_body'] = data['review_body'].apply(correct_spelling)

In [6]:
data.head()

,review_title,review_body,company_source
0,I ordered an item and had a little,I ordered an item and had a little payment mis...,zalando
1,I ordered few items for 800 euro,I ordered few items for 800 euro came only che...,zalando
2,Always the first choice for apparel shopping,Always the first choice for apparel shopping i...,zalando
3,Support is bad return items and do not get mon...,Ordered items for 1200 got them all but in the...,zalando
4,Utterly useless in every respect,2 items ordered the first came the next day dh...,zalando

In [7]:
data.to_csv('clean_data.csv')