In [1]:
import pandas as pd
import numpy as np
import re
pd.set_option('display.max_rows', 1000)

In [2]:
sentiment_data = pd.read_json('output 2', lines=True)

In [3]:
sentiment_data.head()

,File,Line,Sentiment,SentimentScore,ErrorCode,ErrorMessage
0,sentiments.csv,2,NEGATIVE,"{'Mixed': 0.00012888328637900001, 'Negative': ...",NaN,NaN
1,sentiments.csv,8,NEGATIVE,"{'Mixed': 1.375659394398098e-05, 'Negative': 0...",NaN,NaN
2,sentiments.csv,9,NEGATIVE,"{'Mixed': 2.112306901835836e-06, 'Negative': 0...",NaN,NaN
3,sentiments.csv,12,NEGATIVE,"{'Mixed': 0.000350687274476, 'Negative': 0.680...",NaN,NaN
4,sentiments.csv,13,NEGATIVE,"{'Mixed': 0.396334409713745, 'Negative': 0.417...",NaN,NaN

In [4]:
sentiment_data.head()

,File,Line,Sentiment,SentimentScore,ErrorCode,ErrorMessage
0,sentiments.csv,2,NEGATIVE,"{'Mixed': 0.00012888328637900001, 'Negative': ...",NaN,NaN
1,sentiments.csv,8,NEGATIVE,"{'Mixed': 1.375659394398098e-05, 'Negative': 0...",NaN,NaN
2,sentiments.csv,9,NEGATIVE,"{'Mixed': 2.112306901835836e-06, 'Negative': 0...",NaN,NaN
3,sentiments.csv,12,NEGATIVE,"{'Mixed': 0.000350687274476, 'Negative': 0.680...",NaN,NaN
4,sentiments.csv,13,NEGATIVE,"{'Mixed': 0.396334409713745, 'Negative': 0.417...",NaN,NaN

In [5]:
sentiment_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 654 entries, 0 to 653
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   File            654 non-null    object
 1   Line            654 non-null    int64
 2   Sentiment       653 non-null    object
 3   SentimentScore  653 non-null    object
 4   ErrorCode       1 non-null      object
 5   ErrorMessage    1 non-null      object
dtypes: int64(1), object(5)
memory usage: 30.8+ KB

In [6]:
score = sentiment_data['SentimentScore'].apply(pd.Series)

In [7]:
score.head()

    0     Mixed  Negative   Neutral  Positive
0 NaN  0.000129  0.972578  0.023580  0.003712
1 NaN  0.000014  0.992358  0.000407  0.007221
2 NaN  0.000002  0.999826  0.000109  0.000063
3 NaN  0.000351  0.680631  0.272642  0.046376
4 NaN  0.396334  0.417331  0.003253  0.183082

In [8]:
# data = pd.concat([sentiment_data,score],axis=1)

In [9]:
# data['Sentiment'].value_counts().plot.bar()

In [10]:
new_score = score.max(axis=1)

In [11]:
sentiment_data['Score'] = list(new_score.values)

In [12]:
sentiment_data.head()

,File,Line,Sentiment,SentimentScore,ErrorCode,ErrorMessage,Score
0,sentiments.csv,2,NEGATIVE,"{'Mixed': 0.00012888328637900001, 'Negative': ...",NaN,NaN,0.972578
1,sentiments.csv,8,NEGATIVE,"{'Mixed': 1.375659394398098e-05, 'Negative': 0...",NaN,NaN,0.992358
2,sentiments.csv,9,NEGATIVE,"{'Mixed': 2.112306901835836e-06, 'Negative': 0...",NaN,NaN,0.999826
3,sentiments.csv,12,NEGATIVE,"{'Mixed': 0.000350687274476, 'Negative': 0.680...",NaN,NaN,0.680631
4,sentiments.csv,13,NEGATIVE,"{'Mixed': 0.396334409713745, 'Negative': 0.417...",NaN,NaN,0.417331

In [13]:
def priority_status(x):
    if x < 0.5:
        y = 'Low-priority'
    elif x <= 0.7:
        y = 'Moderate-priority'
    else:
        y='High-priority'
    return y

In [14]:
sentiment_data['priority'] = sentiment_data['Score'].apply(priority_status)

In [15]:
sentiment_data.head()

,File,Line,Sentiment,SentimentScore,ErrorCode,ErrorMessage,Score,priority
0,sentiments.csv,2,NEGATIVE,"{'Mixed': 0.00012888328637900001, 'Negative': ...",NaN,NaN,0.972578,High-priority
1,sentiments.csv,8,NEGATIVE,"{'Mixed': 1.375659394398098e-05, 'Negative': 0...",NaN,NaN,0.992358,High-priority
2,sentiments.csv,9,NEGATIVE,"{'Mixed': 2.112306901835836e-06, 'Negative': 0...",NaN,NaN,0.999826,High-priority
3,sentiments.csv,12,NEGATIVE,"{'Mixed': 0.000350687274476, 'Negative': 0.680...",NaN,NaN,0.680631,Moderate-priority
4,sentiments.csv,13,NEGATIVE,"{'Mixed': 0.396334409713745, 'Negative': 0.417...",NaN,NaN,0.417331,Low-priority

In [16]:
sentiment_data[sentiment_data['Sentiment'].isna()]

,File,Line,Sentiment,SentimentScore,ErrorCode,ErrorMessage,Score,priority
128,sentiments.csv,316,NaN,NaN,DOCUMENT_SIZE_EXCEEDED,Document size is exceeded maximum size limit 5...,NaN,High-priority

In [17]:
sentiment_data['Sentiment'] = np.where(sentiment_data['Sentiment'].isna(),'NEGATIVE',sentiment_data['Sentiment'])

In [18]:
sentiment_data.drop(['SentimentScore','ErrorCode','ErrorMessage'],axis=1,inplace=True)

In [19]:
sentiment_data.sort_values(by=['Line'],inplace=True)
sentiment_data = sentiment_data.iloc[1:,:]
sentiment_data['Line'] = range(0,653)
sentiment_data.reset_index(inplace=True,drop=True)

In [20]:
# sentiment_data = sentiment_data.iloc[1:,:]
# sentiment_data['Line'] = range(0,653)

In [21]:
tm_data = pd.read_csv('topicmodelling_data.csv').iloc[:,1:]
tm_data.head()

,review_title,review_body,company_source,topic,index
0,I ordered an item and had a little,I ordered an item and had a little payment mis...,zalando,About Product/Services,0
1,I ordered few items for 800 euro,I ordered few items for 800 euro came only che...,zalando,About Product/Services,1
2,Always the first choice for apparel shopping,Always the first choice for apparel shopping i...,zalando,About Product/Services,2
3,Support is bad return items and do not get mon...,Ordered items for 1200 got them all but in the...,zalando,About Product/Services,3
4,Utterly useless in every respect,2 items ordered the first came the next day dh...,zalando,About Product/Services,4

In [24]:
results = pd.concat([tm_data,sentiment_data],axis=1)

In [25]:
results.head()

,review_title,review_body,company_source,topic,index,File,Line,Sentiment,Score,priority
0,I ordered an item and had a little,I ordered an item and had a little payment mis...,zalando,About Product/Services,0,sentiments.csv,0,POSITIVE,0.444047,Low-priority
1,I ordered few items for 800 euro,I ordered few items for 800 euro came only che...,zalando,About Product/Services,1,sentiments.csv,1,NEGATIVE,0.972578,High-priority
2,Always the first choice for apparel shopping,Always the first choice for apparel shopping i...,zalando,About Product/Services,2,sentiments.csv,2,POSITIVE,0.974860,High-priority
3,Support is bad return items and do not get mon...,Ordered items for 1200 got them all but in the...,zalando,About Product/Services,3,sentiments.csv,3,NEGATIVE,0.999312,High-priority
4,Utterly useless in every respect,2 items ordered the first came the next day dh...,zalando,About Product/Services,4,sentiments.csv,4,NEGATIVE,0.997248,High-priority

In [26]:
results.drop(['index','File','Line','Score'],axis=1,inplace=True)

In [27]:
results.head()

,review_title,review_body,company_source,topic,Sentiment,priority
0,I ordered an item and had a little,I ordered an item and had a little payment mis...,zalando,About Product/Services,POSITIVE,Low-priority
1,I ordered few items for 800 euro,I ordered few items for 800 euro came only che...,zalando,About Product/Services,NEGATIVE,High-priority
2,Always the first choice for apparel shopping,Always the first choice for apparel shopping i...,zalando,About Product/Services,POSITIVE,High-priority
3,Support is bad return items and do not get mon...,Ordered items for 1200 got them all but in the...,zalando,About Product/Services,NEGATIVE,High-priority
4,Utterly useless in every respect,2 items ordered the first came the next day dh...,zalando,About Product/Services,NEGATIVE,High-priority

In [28]:
results.to_csv('final_data.csv')